footer {
    position: fixed;
    background: white;
    height: 60px;
    width: 100%;
    bottom: 0px;
    border-top: 1px solid #CCCCCC;
}
footer p {
    position: absolute;
    text-align: center;
    top: 10%;
    bottom: 0px;
    right: 0px;
 
}

